body {
    width: 300px;
    height: 400px;
    padding: 50px;
    background-color: #eff1f5;
    font-family: monospace;
}

h1 {
    color: #4c4f69;
    font-size: 22px;
}

.colours {
    margin-top: 10px;
}

.colour {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.image {
    margin-top: 5px;
    height: 70px;
    width: 70px;
    object-fit: contain;
}

.progress-bar {
    position: relative;
    margin-top: 5px;
    background-color: #e78284;
    height: 20px;
    width: 300px;
    border-radius: 5px;;
}

.progress-bar-done {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a6d189;
    height: 20px;
    width: 0px;
    border-radius: 5px;
}

.progress-bar-track {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #85c1dc;
    height: 20px;
    width: 0px;
    border-radius: 5px;
    z-index: 1;
}

.x {
    color: #712780;
    font-weight: 700;
}

.custom {
    color: #5c5f77;
    width: 90px;
}

.stats {margin-top: 10px;}
.label {color: #6c6f85;}
button {color: #4c4f69;}